{% extends "public/base.html" %}

{% block content %}

<h1 class="m-5 text-center">股市預測</h1>

<form class="mx-auto mt-5" style="width: 50%;" method="GET" action="/pred">
  <label for="stock_num" class="form-label fs-4">輸入股票代碼 :</label>
  <div class="d-flex flex-row mb-3">
    <input type="text" class="form-control" id="stock_num" name="stock_num" style="width: 30%;">
    <button type="submit" class="btn btn-primary ms-5">查詢</button>
  </div>
</form>

<table class="table table-bordered border-black mx-auto" style="width: 75%; margin-top: 10vh;">
  <thead>
    <tr>
      <th class="bg-secondary text-white" scope="col">日期</th>
      <th class="bg-secondary text-white" scope="col">Close</th>
      <th class="bg-secondary text-white" scope="col">Volume</th>
    </tr>
  </thead>

  <tbody>
    {% for data in (datas[-15:][::-1] if datas else []) %}
    <tr>
      {% for cell in data %}
      <td class="bg-secondary-subtle text-secondary-emphasis">{{ cell }}</td>
      {% endfor %}
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}