<div id="sidebar">
  <ul class="list-unstyled">
    <li class="fs-4 mt-3">
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-black"
        href="/index">首頁</a>
    </li>

    <li class="fs-4 mt-3">
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-black"
        href="/stock">股票資訊</a>
    </li>

    <li class="fs-4 mt-3">
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-black"
        href="/pred">股票預測分析</a>
    </li>
  </ul>
</div>